*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: salmon;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2em;
  width: 100%;
  max-width: 80rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;

  .heading {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
  }
  .input {
    margin-bottom: 1em;
    height: 5.3rem;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding-inline: 2em;

    &:focus {
      outline: none;
    }
  }
  .info-text {
    margin-bottom: 0.5em;
  }
}

.meaning-container {
  p {
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 1em;
  }
}
