*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

html {
  font-size: 62.5%; //* 10px
}

//* =========================== Varibales
$bg-note-color: #fef68a;
$bg-textArea-color: #67d7cc;
$bg-btn: #e1e1e1;
$bg2-btn: #ededed;
$bg-input: rgb(233, 233, 233);
$textArea-font-size: 1.5rem;

.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 1.5em;
  min-height: 100dvh;
}
body {
  min-height: 100dvh;
}
.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 1em;
}

.note.new {
  background-color: $bg-textArea-color;
}

textarea {
  background-color: $bg-textArea-color;
  border: none;
  outline: none;
  resize: none;
  padding: 1em;
  font-size: $textArea-font-size;
}

.save {
  background-color: $bg-btn;
  border: none;
  border-radius: 2rem;
  padding: 0.5em 1em;
  cursor: pointer;

  &:hover {
    background-color: $bg2-btn;
  }
  &:active {
    transition: all 500ms ease-in-out;
    transform: scale(0.96);
  }
}

.note {
  background-color: $bg-note-color;
  margin-bottom: 1em;
  border-radius: 2rem;
  padding: 1em;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  max-width: 300px; /* Limiting the width of the note */
  word-wrap: break-word; /* Breaking long words */
  overflow: auto;

  .note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: $textArea-font-size;

    .deleteIcon {
      cursor: pointer;

      &:active {
        transition: all 500ms ease-in-out;
        transform: scale(0.96);
      }
    }
  }

  span {
    font-size: $textArea-font-size;
  }
}

.search {
  display: flex;
  align-items: center;
  background-color: $bg-input;
  border-radius: 2rem;
  padding: 0.5em;
  margin-block: 1.5em;
  .search-icon {
    font-size: 1.7rem;
  }

  input {
    background-color: $bg-input;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0.5em;
    font-size: 1.5rem;
    letter-spacing: 1px;

    &::placeholder {
      font-size: $textArea-font-size;
    }
  }
}

.heading {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 3rem;
  }
}

//* ============================================== Toggle Button

.toggle-btn {
  background-color: $bg-btn;
  padding: 0.5em 2.5em;
  border-radius: 2rem;
  cursor: pointer;

  &:active {
    transform: scale(0.96);
  }
}

.btn-color {
  background-color: #333333;
  border: none;
  outline: none;
  border: 1px solid $bg2-btn;
  padding: 0.5em 2.5em;
  border-radius: 2rem;
  cursor: pointer;

  &:active {
    transform: scale(0.96);
  }
}

.title {
  color: $bg-btn;
}

.material-symbols-outlined {
  font-size: 2.5rem;
  color: orange;
  font-weight: 700;
}
.moon {
  color: orange;
}
